@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
       Layout = "~/Views/Shared/Layout.cshtml";
}
@model LoanApp.Models.Loan
<html>
    <style>
        .login_form{
             width: 200px;
             border: 1px solid #2d2d2d;
             display: flex;
             justify-content: center;
             flex-direction: column;
             align-items: center;
             margin: auto;
             margin-top: 10%;
             width:  400px;
             height: 400px;
        }
        .login_form input{
            margin: 15px 15px;
        }
    </style>
    <body>
       <form asp-action="AddLoan" asp-controller="Loans"  asp-antiforgery="true">
            <div>
                <div>
                    <label asp-for="Value"></label>
                    <input type="text" asp-for="Value" />
                </div>
                <div>
                    <label asp-for="Reason"></label>
                    <input  type="text" asp-for="Reason" />
                </div>
                <div>
                    <label asp-for="WhomUserId">Whom User</label>
                    <select asp-for="WhomUserId" asp-items="ViewBag.AvailableUsers"></select>
                </div>
                <div>
                    <input type="submit" value="Save" />
                </div>
            </div>
        </form>
        
    </body>
</html>
