@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
       Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
    <style>
        .login_form{
             width: 200px;
             border: 1px solid #2d2d2d;
             display: flex;
             justify-content: center;
             flex-direction: column;
             align-items: center;
             margin: auto;
             margin-top: 10%;
             width:  400px;
             height: 400px;
        }
        .login_form input{
            margin: 15px 15px;
        }
    </style>
    <body>
        <form method="post">
            <div class="login_form">
            <div>
                <label>Loan value</label>
                <input name="value" placeholder="Enter value"/>
            </div>
            <div>
                <label>Loan reason</label>
                <input name="reason" placeholder="Enter Reason" />
            </div>
            <div>
                <button> Confirm </button>
            </div>
        </div>
        </form>
        
    </body>
</html>
