@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <style>
        a{
            margin: 15px;
        }
    </style>
    <title>
        Loan App
    </title>
    <body>
        <header>
            <div style="border: 1px solid black">
                <a>Home</a>
                <a href="/User/Profile">Profile</a>
                <a>Search</a>
                <a href="/Loans/AddLoan">Add loan</a>
            </div>
        </header>
        <div id="main">
            @RenderBody()
        </div>
    </body>
</html>
